
.model-box-div {
    margin-bottom: 75px;
  }
  .select-box {
    display: flex;
    /* width: 400px; */
    flex-direction: column;
  }
  
  .select-box .model-options-container {
    background: #2f3640;
    color: #8d8d8d;
    max-height: 0;
    width: 223px;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    margin-left: -4px;
    margin-top: -5px;
  
    order: 1;
  }
  
  .selected {
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("Custom-Select-Box-master/img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 8px;
    transition: all 0.12s;
  }
  
  .select-box .model-options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    border: 1px inset #222;
    border-radius: 3px;
    z-index: 5;
    
  }
  
  .select-box .model-options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .model-options-container::-webkit-scrollbar {
    width: 0.1px;
    background: #111111;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .model-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .box-option {
    background-color: #111111;
    border: #111111 1px solid;
    height: 32px;
    font-size: 13.9px;
    padding: 4px 12px;
    cursor: pointer;
  }
  
  .selected {
    margin-left: -12px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 13.9px;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .select-box .box-option:hover {
    background: #333;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .box-option .model-radio {
    display: none;
  }
  
  .model-box {
    border: 1px solid #999999;
    border-radius: 4px;
    height: 48px;
    width: 225px;
    margin-left: 15px;
  }
  
  .model-box-1 {
    color: rgba(255,255,255,.7);
    background: #000;
    font-size: 13px;
    margin-bottom: -10px;
    width: 43px;
    text-align: center;
    margin-top: -57px;
    margin-left: 26px;
    font-family: Calibri;
  }
  
  select {
    background-color: black;
    color: aliceblue;
    /* border: 1px solid #999999; */
    /* margin-top: 15px;
    margin-left: 10px; */
    border-style: none;
    margin-top: 10px;
    margin-left: 2px;
    height: 35px;
    width: 220px;
    border-radius: 4px;
    z-index: -100;
  }
  
  .model-box:hover {
    border-color: white !important;
  }
  
  @font-face {
    font-family: RazerF5-Reg;
    src: url("../assets/font/RazerF5-Reg.otf");
  }
  
  .row-product {
    height: 100vh;
  }
  .col-img-full {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .image-tab {
    display: flex;
    flex-direction: column;
    left: 3.9rem;
    position: absolute;
    top: 3.23rem;
  }
  
  .image-tab-list {
    height: 5rem;
    width: 5rem;
    margin-bottom: 10px;
  }
  
  .image-tab-border {
    border: 1px solid #999;
  }
  
  .right-box {
    background-color: black;
    

  }
  
  .header {
    padding-top: 40px;
    font-family: RazerF5-Reg;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.1em;
  
    color: #44d62c;
    display: block;
    margin: 0 !important;
  }
  
  .head-description {
    display: block;
  
    margin-top: 0.5rem;
  
    font-size: 14px;
    color: #fff !important;
  }
  
  .head-price {
    font-family: RazerF5-Reg;
    font-weight: 400;
    line-height: 1.5;
    font-size: 21px;
    padding-top: 0.5rem;
    color: #fff !important;
  }
  
  .ul-session {
    line-height: 1.4;
    font-size: 14px;
    margin-top: 2.1875rem;
    list-style: disc;
    color: #999;
    font-family: Roboto, helvetica neue, Arial, noto sans, sans-serif,
      apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    font-weight: 400;
    margin-bottom: 3.75rem;
  }
  ul {
    text-align: left;
    padding-left: 1rem;
  }
  
  .select-session select {
    align-items: center;
    background: 0 0;
    border: 1px solid #999;
    border-radius: 0.25rem;
    color: #999;
    display: flex;
    font-family: RazerF5-Reg;
    font-size: 0.875rem;
    min-height: 3rem;
    min-width: var(--dropdown-custom-min-width, 14.0625rem);
    padding: 0.875rem 0.75rem;
    position: relative;
    flex: auto;
    width: 180px;
    cursor: pointer;
    /* background-image: ; */
  }
  option {
    font-family: RazerF5-Reg;
    background-color: #44d62c;
    font-size: inherit;
    line-height: 3em;
    color: #999;
    font-weight: 400;
    height: 2rem !important;
  }
  
  .shipping-date {
    color: #999;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  
  .order-button {
    border-radius: 0.1875rem;
    color: #000;
    font-family: RazerF5-Reg;
    font-size: 14px;
    font-weight: 1000;
    height: 2rem;
    line-height: 1.4em;
    max-height: none;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #44d62c;
    border: 0;
    transition: 0.3s;
    margin-top: 0.9375rem;
    width: 100%;
    max-width: 19.375rem;
  }
  .order-button:hover {
    background-color: #73e161;
    transition: 0.3s;
  }
  
  .product-status {
    background: 0 0 !important;
    border-radius: 2px !important;
    color: #44d62c !important;
    cursor: pointer !important;
    font: normal normal normal 14px/17px Roboto, sans-serif !important;
    margin: 5px !important;
    padding: 8px 12px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    visibility: visible !important;
    text-align: center;
    margin-top: 1rem;
    max-width: 19.375rem;
  }
  
  p {
    margin: 0px;
    padding: 0px;
  }
  
  .rdo_style[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 5rem;
    height: 5rem;
    border: 1px solid #999;
  }
  .rdo_style[type="radio"]:hover + img {
    border-color: #44d62c;
    border: 1px solid #44d62c;
  }
  
  .rdo_style[type="radio"] + img {
    cursor: pointer;
  }
  
  .rdo_style[type="radio"]:checked + img {
    border-color: #44d62c;
    border: 1px solid #44d62c;
  }
  